* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  border-right: 1px solid #000;
  border-top: 1px solid #000;
}

.cell {
  width: 150px;
  height: 150px;
  padding: 0.5em;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
}

.weekday {
  height: auto;
}
